@font-face {
  font-family: 'JurassicPark';
  src: url('./JurassicPark.ttf') format('truetype');
}

.splash-container {
  position: relative;
  text-align: center;
  color: white;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'JurassicPark', sans-serif;
  font-size: 200px; /* 2x bigger */
  color: rgb(255, 255, 255); /* Ensures it's black and white */
}

.logo-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.anchor-logo {
  width: 200px; /* Adjust to make the logo itself 2x bigger */
  height: 200px; /* Maintain aspect ratio */
}

.button-container {
  margin-top: 20px;
}

.enter-button {
  font-family: 'JurassicPark', sans-serif;
  font-size: 48px; /* 2x bigger */
  padding: 20px 40px; /* 2x bigger */
  color: black;
  background: white;
  border: 2px solid black;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

.enter-button:hover {
  background: black;
  color: white;
}

.quote {
  margin-top: 20px;
  font-size: 36px; /* 2x bigger */
  font-weight: bold;
  width: 80%;
  text-align: center;
}
